<div class="blog-comment {{comment.comment_type}}" id="blog-comment-{{comment.ID}}" is="wpf-block-comments" data-{{ block.id }}>
	<h5 class="comment-author">{{comment.author.name}} {{ __(' says', 'wpf-theme') }}</h5>
	<div class="comment-content">{{comment.comment_content|wpautop}}</div>

	<section class="comment-box">
		
		<!-- comment form -->
		{% include "comments/comment-form.twig" %}

		<!-- child comments -->
		{% if post.comments %}
			<h4>{{ __(' Replies', 'wpf-theme') }}</h4>
			<div class="comments">
				{% for cmt in comment.children %}
					{% include "comments/index.twig" with {comment:cmt} %}
				{% endfor %}
			</div>
		{% endif %}

	</section>
</div>