<!doctype html>
<!--[if lt IE 9]><html class="no-js no-svg ie lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 9]><html class="no-js no-svg ie ie9 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 9]><!-->
<html dir="ltr" class="no-js no-svg" {{ site.language_attributes }}> <!--<![endif]-->

	{% block head %}
    {% include 'head.twig' %}
	{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
  
    {% block header %}
      {% include 'header/index.twig' %}
    {% endblock %}

       <section class="hero"><div class="hero-body">
          <div class="container">
            <div class="columns is-vcentered">
              <div class="column is-6">
                <h1 class="title is-spaced">Have fun creating your WP theme!</h1>
                <p class="subtitle">WP Fizz is a starter theme for WordPress using cool &amp; modern technologies such as Timber, ACF and Bulma. It also includes support for Gutenberg.</p>
                <div class="buttons"><a class="button is-primary" href="#">Download the theme</a><a class="button is-text" href="#">Project on Github</a></div>
              </div>
              <div class="column is-6"><img src="{{site.theme.link}}/assets/src/img/screenshot.png" alt=""></div>
            </div>
          </div>
        </div>
      </section>
    
      <section class="section">
        <div class="container has-text-centered py-4">
          <h2 class="title is-spaced mb-6">Features</h2>
          <div class="columns mb-6">
            <div class="column">
              <div class="level">
                <div class="level-item">
                  <figure class="image is-128x128"><img class="is-rounded" src="{{site.theme.link}}/assets/src/img/Gutenberg-logo.png" alt=""></figure>
                </div>
              </div>
              <h4 class="title is-4">Gutenberg support</h4>
              <p>Create Gutenberg Blocks in minutes thanks to the great Timber ACF WP Blocks tool by Maciej Palmowski.</p>
            </div>
            <div class="column">
              <div class="level">
                <div class="level-item">
                  <figure class="image is-128x128"><img class="is-rounded" src="{{site.theme.link}}/assets/src/img/timber-wp.png" alt=""></figure>
                </div>
              </div>
              <h4 class="title is-4">Timber</h4>
              <p>Create your fully-customized WordPress themes faster with more sustainable code thanks to Timber by Upstatement.</p>
            </div>
            <div class="column">
              <div class="level">
                <div class="level-item"><figure class="image is-128x128"><img class="is-rounded" src="{{site.theme.link}}/assets/src/img/bulma-logo.png" alt=""></figure></div>
              </div>
              <h3 class="title is-4">Bulma</h3>
              <p>Create your frontend components with Bulma, which is a free, open source CSS framework based on Flexbox and built with Sass.</p>
            </div>
          </div>
          <div class="buttons is-centered"><a class="button is-primary" href="#">Start your theme!</a></div>
        </div>
      </section>
    
      <section class="section"><div class="container py-4">
          <div class="columns is-vcentered">
            <div class="column is-6">
              <h2 class="title">WP Fizz Setup</h2>
              <h3 class="title is-5">Create your starter theme!</h3>
              <p class="subtitle is-6">We've designed a simple, efficient process for companies migrating to PiperNet. Here's how it works.</p>
              <div class="buttons"><a class="button is-primary" href="#">Start Setup!</a><a class="button is-text" href="#">Watch more</a></div>
            </div>
            <div class="column is-6">
              <div class="media">
                <div class="media-left">
                  <div class="number has-background-primary">1</div>
                </div>
                <div class="media-content">
                  <div class="content">
                    <h3>Move Data</h3>
                    <p>Using our Piper Assistant application, you can move your data to be stored our decentralized network with simple drag &amp; drop.</p>
                  </div>
                </div>
              </div>
              <div class="media">
                <div class="media-left">
                  <div class="number has-background-primary">2</div>
                </div>
                <div class="media-content">
                  <div class="content">
                    <h3>Integrate Software</h3>
                    <p>We want to make sure that you can keep using the software that you use to manage your business.</p>
                  </div>
                </div>
              </div>
              <div class="media">
                <div class="media-left">
                  <div class="number has-background-primary">3</div>
                </div>
                <div class="media-content">
                  <div class="content">
                    <h3>Ongoing Support</h3>
                    <p>As with all innovative technologies, sometimes unpredictable things will happen, and you can always count on our support to solve issues for you.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      {% block content %}
      {% endblock %}  

      {% block footer %}
  	{% include 'footer/index.twig' %}
  	{% endblock %}

	</body>
</html>
