{% extends "base.twig" %}

{% block content %}
<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
  <section class="section pb-0">
      <div class="container py-4">
        <div class="columns">
          <div class="column">
            <h2 class="title">{{post.title}}</h2>
          </div>
		  {% if post.subtitle %}
          <div class="column">
            <p class="subtitle">{{post.subtitle}}</p>
          </div>
		  {% endif %}
        </div>
      </div>
  </section>
	{{post.content}}
</article>
{% endblock %}