 {% block footer %}
  <footer class="footer" is="wpf-block-footer" data-{{ block.id }}>
    <div class="container has-text-centered">
      <div class="columns is-centered">
        <div class="column is-8">
          {% if footer_menu %}
            <div class="level">
              {% for item in footer_menu.items %}
                <a class="level-item {{ item.classes | join(' ') }}" href="{{ item.link }}">{{ item.title }}</a>
              {% endfor %}
            </div> 
          {% endif %}
        </div>
      </div>
      <hr>
      <p class="subtitle is-6">{{ __('Copyright', 'wpf-theme') }} {{"now"|date('Y')}} {{ site.name }}. {{ __(' All right reserved', 'wpf-theme') }}.</p>
    </div>
  </footer>
{% endblock %}